
FirstDotNetCoreReactApp/.vs/FirstDotNetCoreReactApp/v15/Server/sqlite3/storage.ide-wal
FirstDotNetCoreReactApp/.vs/FirstDotNetCoreReactApp/v15/Server/sqlite3/storage.ide-shm
FirstDotNetCoreReactApp/.vs/FirstDotNetCoreReactApp/v15/Server/sqlite3/storage.ide
FirstDotNetCoreReactApp/.vs/FirstDotNetCoreReactApp/v15/Server/sqlite3/db.lock
